table.balance_table_main
{
  border-collapse: collapse;
  width: 100%;
  display: block;
  border:1px solid #337ab7;
  background-color:white;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}
table.balance_table_main thead
{
  background-color: #337ab7;
  color:white;
}
table.balance_table_main thead, table.balance_table_main tbody
{
   display: block;
}
table.balance_table_main tbody
{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 210px;
}
table.balance_table_main td, table.balance_table_main th
{
  min-width: 257px;
  height: 25px;
  overflow:hidden;
  text-overflow: ellipsis;
  max-width: 257px;
  border:1px solid #337ab7;
  border-left:none;
  text-align:center;
}




table.balance_table_trader
{
  border-collapse: collapse;
  width: 100%;
  display: block;
  border:1px solid #337ab7;
  background-color:white;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}
table.balance_table_trader thead
{
  background-color: #337ab7;
  color:white;
}
table.balance_table_trader thead, table.balance_table_trader tbody
{
   display: block;
}
table.balance_table_trader tbody
{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 148px;
}
table.balance_table_trader td, table.balance_table_trader th
{
  min-width: 257px;
  height: 25px;
  overflow:hidden;
  text-overflow: ellipsis;
  max-width: 257px;
  border:1px solid #337ab7;
  border-left:none;
  text-align:center;
}




table.balance_table_withdraw
{
  border-collapse: collapse;
  width: 100%;
  display: block;
  border:1px solid #337ab7;
  background-color:white;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}
table.balance_table_withdraw thead
{
  background-color: #337ab7;
  color:white;
}
table.balance_table_withdraw thead, table.balance_table_withdraw tbody
{
   display: block;
}
table.balance_table_withdraw tbody
{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 305px;
}
table.balance_table_withdraw td, table.balance_table_withdraw th
{
  min-width: 340px;
  height: 25px;
  overflow:hidden;
  text-overflow: ellipsis;
  max-width: 340px;
  border:1px solid #337ab7;
  border-left:none;
  text-align:center;
}




table.withdraw_history
{
  border-collapse: collapse;
  width: 100%;
  display: block;
  border:1px solid #337ab7;
  background-color:white;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}
table.withdraw_history thead
{
  background-color: #337ab7;
  color:white;
}
table.withdraw_history thead, table.withdraw_history tbody
{
   display: block;
}
table.withdraw_history tbody
{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 185px;
}
table.withdraw_history td, table.withdraw_history th
{
  min-width: 132px;
  height: 25px;
  overflow:hidden;
  text-overflow: ellipsis;
  max-width: 340px;
  border:1px solid #337ab7;
  border-left:none;
  text-align:center;
}



table.deposit_history
{
  border-collapse: collapse;
  width: 100%;
  display: block;
  border:1px solid #337ab7;
  background-color:white;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}
table.deposit_history thead
{
  background-color: #337ab7;
  color:white;
}
table.deposit_history thead, table.deposit_history tbody
{
   display: block;
}
table.deposit_history tbody
{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 185px;
}
table.deposit_history td, table.deposit_history th
{
  min-width: 132px;
  height: 25px;
  overflow:hidden;
  text-overflow: ellipsis;
  max-width: 340px;
  border:1px solid #337ab7;
  border-left:none;
  text-align:center;
}




table.manage_trader_setting
{
  border-collapse: collapse;
  width: 100%;
  display: block;
  border:1px solid #337ab7;
  background-color:white;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}
table.manage_trader_setting thead
{
  background-color: #337ab7;
  color:white;
}
table.manage_trader_setting thead, table.manage_trader_setting tbody
{
   display: block;
}
table.manage_trader_setting tbody
{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 185px;
}
table.manage_trader_setting td, table.manage_trader_setting th
{
  min-width: 204px;
  height: 25px;
  overflow:hidden;
  text-overflow: ellipsis;
  max-width: 340px;
  border:1px solid #337ab7;
  border-left:none;
  text-align:center;
}


.btn-default
{
    color: #337ab7;
    background-color: #fff;
    border-color: #337ab7;
}







table.market_access_checks
{
  border-collapse: collapse;
  width: 100%;
  display: block;
  border:1px solid #337ab7;
  background-color:white;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}
table.market_access_checks thead
{
  background-color: #337ab7;
  color:white;
}
table.market_access_checks thead, table.market_access_checks tbody
{
   display: block;
}
table.market_access_checks tbody
{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 149px;
}
table.market_access_checks td, table.market_access_checks th
{
  min-width: 250px;
  height: 25px;
  overflow:hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  border:1px solid #337ab7;
  border-left:none;
  text-align:center;
}


table.market_access_checks_new
{
  border-collapse: collapse;
  width: 100%;
  display: block;
  border:1px solid #337ab7;
  background-color:white;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}
table.market_access_checks_new thead
{
  background-color: #337ab7;
  color:white;
}
table.market_access_checks_new thead, table.market_access_checks_new tbody
{
   display: block;
}
table.market_access_checks_new tbody
{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 149px;
}
table.market_access_checks_new td, table.market_access_checks_new th
{
  min-width: 246px;
  height: 25px;
  overflow:hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  border:1px solid #337ab7;
  border-left:none;
  text-align:center;
}





.stylish-input-group .input-group-addon
{
    background: white !important;
}
.stylish-input-group .form-control
{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button
{
    border:0;
    background:transparent;
}

.input-group-addon
{
  border:1px solid #337ab7;
}

legend
{
    display: block;
    width: 24%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: inherit;
    color: #337ab7;
    border: 0;
    /* border-bottom: 1px solid #e5e5e5; */
    margin-left: 15px;
    font-weight:700;
    text-align:-webkit-center;
}

fieldset
{
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 1px solid #337ab7;
}


table.exchange_wise_balance
{
  border-collapse: collapse;
  width: 1065px;
  overflow-x: scroll;
  display: block;
  border:1px solid #337ab7;
  background-color:white;
  border-top-left-radius:4px;
  border-top-right-radius:4px;


}
table.exchange_wise_balance thead
{
  background-color: #337ab7;
  color:white;
}
table.exchange_wise_balance thead, table.exchange_wise_balance tbody
{
  display: block;
}
table.exchange_wise_balance tbody
{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 149px;
}
table.exchange_wise_balance td, table.exchange_wise_balance th
{
  min-width: 146px;
  height: 25px;
  overflow:hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  border:1px solid #337ab7;
  text-align:center;
}



table.trade_account_setting
{
  border-collapse: collapse;
  width: 1010px;
  overflow-x: scroll;
  display: block;
  margin-left:10px;
  border:1px solid #337ab7;
  background-color:white;
  border-top-left-radius:4px;
  border-top-right-radius:4px;

}
table.trade_account_setting thead
{
  background-color: #337ab7;
  color:white;
}
table.trade_account_setting thead, table.trade_account_setting tbody
{
  display: block;
}
table.trade_account_setting tbody
{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 186px;
}
table.trade_account_setting td, table.trade_account_setting th
{
  min-width: 144px;
  height: 25px;
  overflow:hidden;
  text-overflow: ellipsis;
  max-width: 155px;
  border:1px solid #337ab7;
  text-align:center;
}


/* The container */
.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 55px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border:1px solid lightslategray;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
    background-color: none;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
    background-color: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
    left: 6px;
    width: 7px;
    height: 16px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*  bhoechie tab */
    div.bhoechie-tab-container
    {
      z-index: 10;
      background-color: #ffffff;
      padding: 0 !important;
      border-radius: 4px;
      -moz-border-radius: 4px;
      border:1px solid #ddd;
      margin-top: 20px;
      margin-left: 50px;
      -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
      -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
      background-clip: padding-box;
      opacity: 0.97;
      filter: alpha(opacity=97);
      height:auto;
    }
    div.bhoechie-tab-menu
    {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group
    {
      margin-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group>a
    {
      margin-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group>a .glyphicon,
    div.bhoechie-tab-menu div.list-group>a .fa
    {
      color: #337ab7;
    }
    div.bhoechie-tab-menu div.list-group>a:first-child
    {
      border-top-right-radius: 0;
      -moz-border-top-right-radius: 0;
    }
    div.bhoechie-tab-menu div.list-group>a:last-child
    {
      border-bottom-right-radius: 0;
      -moz-border-bottom-right-radius: 0;
    }
    div.bhoechie-tab-menu div.list-group>a.active,
    div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
    div.bhoechie-tab-menu div.list-group>a.active .fa
    {
      background-color: #337ab7;
      background-image: #337ab7;
      color: #ffffff;
    }
    div.bhoechie-tab-menu div.list-group>a.active:after
    {
      content: '';
      position: absolute;
      left: 100%;
      top: 50%;
      margin-top: -13px;
      border-left: 0;
      border-bottom: 13px solid transparent;
      border-top: 13px solid transparent;
      border-left: 10px solid #337ab7;
    }

    div.bhoechie-tab-content
    {
      /* border: 1px solid #eeeeee; */
      padding-left: 20px;
      padding-top: 10px;
    }

    div.bhoechie-tab div.bhoechie-tab-content:not(.active)
    {
      display: none;
    }




/* The container */
.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 85px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border:1px solid lightslategray;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
    background-color: none;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
    background-color: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
    left: 6px;
    width: 7px;
    height: 16px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}




/* Toggle Button */

    .switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #337ab7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #337ab7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left:-5px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



table.tradeable_market_centers
{
  border-collapse: collapse;
  width: 1010px;
  overflow-x: scroll;
  display: block;
  margin-left:10px;
  border:1px solid #337ab7;
  background-color:white;
  border-top-left-radius:4px;
  border-top-right-radius:4px;

}
table.tradeable_market_centers thead
{
  background-color: #337ab7;
  color:white;
}
table.tradeable_market_centers thead, table.tradeable_market_centers tbody
{
  display: block;
}
table.tradeable_market_centers tbody
{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 186px;
}
table.tradeable_market_centers td, table.tradeable_market_centers th
{
  min-width: 142px;
  height: 25px;
  overflow:hidden;
  text-overflow: ellipsis;
  max-width: 155px;
  border:1px solid #337ab7;
  text-align:center;
}


table.tradeable_market_centers_new
{
  border-collapse: collapse;
  width: 1010px;
  overflow-x: scroll;
  display: block;
  margin-left:10px;
  border:1px solid #337ab7;
  background-color:white;
  border-top-left-radius:4px;
  border-top-right-radius:4px;

}
table.tradeable_market_centers_new thead
{
  background-color: #337ab7;
  color:white;
}
table.tradeable_market_centers_new thead, table.tradeable_market_centers_new tbody
{
  display: block;
}
table.tradeable_market_centers_new tbody
{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 186px;
}
table.tradeable_market_centers_new td, table.tradeable_market_centers_new th
{
  min-width: 142px;
  height: 25px;
  overflow:hidden;
  text-overflow: ellipsis;
  max-width: 155px;
  border:1px solid #337ab7;
  text-align:center;
}


table.asset_allocation_new
{
  border-collapse: collapse;
  width: 1010px;
  overflow-x: scroll;
  display: block;
  margin-left:10px;
  border:1px solid #337ab7;
  background-color:white;
  border-top-left-radius:4px;
  border-top-right-radius:4px;

}
table.asset_allocation_new thead
{
  background-color: #337ab7;
  color:white;
}
table.asset_allocation_new thead, table.asset_allocation_new tbody
{
  display: block;
}
table.asset_allocation_new tbody
{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 186px;
}
table.asset_allocation_new td, table.asset_allocation_new th
{
  min-width: 172px;
  height: 25px;
  overflow:hidden;
  text-overflow: ellipsis;
  max-width: 175px;
  border:1px solid #337ab7;
  text-align:center;
}




.modal
{
    position: fixed;
}

.modal-header
{
    background-color: #337ab7;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.close
{
  opacity:1.2;
  color:white;
}
